@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-google-sans-flex);
	--font-mono: var(--font-geist-mono);
	--font-signature: var(--font-style-script);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@layer base {
	body {
		@apply font-normal text-foreground bg-background font-sans;
	}

	h1 {
		@apply text-[28px] leading-8 font-bold tracking-tight;
		margin: 2.5rem 0 1rem;
	}

	h2 {
		@apply text-[22px] leading-7 font-semibold tracking-tight;
		margin: 2rem 0 0.875rem;
	}

	h3 {
		@apply text-[18px] leading-6 font-semibold tracking-tight;
		margin: 1.75rem 0 0.75rem;
	}

	h4,
	h5,
	h6 {
		font-size: var(--text-base);
		margin: 1.25rem 0 0.5rem;
	}
	h1:first-child,
	h2:first-child,
	h3:first-child,
	h4:first-child,
	h5:first-child,
	h6:first-child {
		margin-top: 0;
	}
}
