@import 'tailwindcss';

@font-face {
	font-family: 'Google Sans';
	src: url('/fonts/GoogleSans-VariableFont_GRAD,opsz,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Google Sans';
	src: url('/fonts/GoogleSans-Italic-VariableFont_GRAD,opsz,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Google Sans Code';
	src: url('/fonts/GoogleSansCode-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Google Sans Code';
	src: url('/fonts/GoogleSansCode-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@theme {
	--color-background: #151a28;

	--font-sans:
		'Google Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';

	--font-mono:
		'Google Sans Code', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;
}

@layer base {
	* {
		@apply border-slate-800;
	}

	html,
	body {
		@apply bg-background scroll-smooth font-sans font-normal text-slate-400 antialiased;
	}

	h1 {
		@apply text-5xl font-semibold text-slate-200 md:text-6xl;
	}

	h2 {
		@apply text-3xl font-medium text-slate-200;
	}

	h3 {
		@apply text-3xl font-medium text-slate-200;
	}

	h4 {
		@apply text-xl font-medium text-slate-200;
	}

	h5 {
		@apply text-lg font-medium text-slate-200;
	}

	blockquote {
		@apply mt-6 border-l-2 pl-6 italic;
	}
}
