@import 'tailwindcss';

@import '@fontsource-variable/jetbrains-mono';

@font-face {
	font-family: 'Google Sans';
	src: url('/fonts/GoogleSans-VariableFont_GRAD,opsz,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Google Sans';
	src: url('/fonts/GoogleSans-VariableFont_GRAD,opsz,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Google Sans Code';
	src: url('/fonts/GoogleSansCode-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Google Sans Code';
	src: url('/fonts/GoogleSansCode-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@theme {
	--color-background-gray: #f5f6f7;
	--color-background-gray-2: #e1e9f6;
	--color-background-oficial-gray: #f5f6f7;
	--color-background-white: #fff;

	--color-google-colors-blue-50: #e8f0fe;
	--color-google-colors-blue-600: #1a73e8;
	--color-google-colors-blue-800: #185abc;
	--color-primary: #1a73e8;

	--color-headline: rgb(32, 33, 36);
	/* --color-headline: #202124; */

	--color-body: rgb(32, 33, 36);
	/* --color-body: #3c4043; */
	--color-text-text-3: #80868b;

	--color-illustration-colors-blue: #006bee;
	--color-illustration-colors-gray: #3c4043;
	--color-illustration-colors-green: #34a853;
	--color-illustration-colors-red: #ea3323;

	--font-sans:
		'Google Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';

	--font-mono:
		'Google Sans Code', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;
}

@layer base {
	* {
		@apply border-background-gray;
	}

	html,
	body {
		@apply text-body bg-background-white scroll-smooth font-sans font-normal antialiased;
	}

	h1 {
		@apply text-headline text-5xl leading-snug;
	}

	h2 {
		@apply text-headline text-4xl leading-snug;
	}

	h3 {
		@apply text-headline text-3xl leading-snug;
	}

	h4 {
		@apply text-headline text-2xl leading-snug;
	}

	p {
		@apply leading-7 [&:not(:first-child)]:mt-6;
	}

	blockquote {
		@apply mt-6 border-l-2 pl-6 italic;
	}
}
