@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-serif: 'Georgia', 'serif';
	--font-sans:
		'system-ui', '-apple-system', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'sans-serif';
	--font-mono: 'Menlo', 'Consolas', 'Monaco', 'Courier New', 'monospace';

	--color-ivory: '#f8f6f2';
}

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-serif;
	}

	a {
		@apply text-neutral-500 underline;
	}
}
