@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-serif: 'Georgia', 'serif';
	--font-sans:
		'system-ui', '-apple-system', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'sans-serif';
	--font-mono: 'Menlo', 'Consolas', 'Monaco', 'Courier New', 'monospace';

	--color-ivory: '#f2ede0';
}

@layer base {
	html,
	body {
		@apply bg-ivory scroll-smooth font-serif text-neutral-600;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-sans font-semibold text-neutral-700 uppercase;
	}

	h1 {
		@apply text-6xl md:text-8xl lg:text-9xl;
	}

	h2 {
		@apply text-4xl md:text-5xl lg:text-3xl;
	}

	a {
		@apply text-neutral-500 underline;
	}

	code {
		@apply bg-slate-50 px-1;
	}

	code.chip {
		@apply rounded-2xl bg-slate-50 px-2 py-1;
	}
}
